---
layout: prototype
warning: false
search: false
primary-nav: false
secondary-nav: false
language-switch: false
footer: false
---

<div class="wrapper prototype">
  <div class="col-wrap" style="margin-bottom: 200px;">

    <div class="col col--md-one-third col--lg-one-third sticky">
          {% include sticky-nav.html %}
    </div>

    <div class="col col--md-two-thirds col--lg-two-thirds">
      <h1 id="section-1">Patterns</h1>
      <h2 id="charts">Charts</h2>
      {% include chart.html %}
      {% include back-to-top.html %}
      <h2 id="tables">Tables</h2>
      {% include tables/example-01.html %}
      {% include back-to-top.html %}
    </div>
  </div>
</div>
