---
layout: prototype
warning: false
search: false
primary-nav: false
secondary-nav: false
language-switch: false
footer: false
---

<div class="wrapper prototype">
  <div class="col-wrap" style="margin-bottom: 200px;">

    <div class="col col--md-one-third col--lg-one-third sticky">
      <!-- sticky nav -->
      <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
        <div class="icon-box-small margin-top--3">
          <i class="icon icon-return--dark-small"></i><p><a class="font-xsmall" href="../content-patterns"> Return to introduction page</a></p>
        </div>
        <div class="">
          <h2 class="heading-xsmall margin-top--4 margin-bottom--1">On this page:</h2>
          <ul class="section-contents">
            <li>
              <a href="#What these patterns are">What these patterns are</a>
            </li>
            <li>
              <a href="#Where the content patterns came from">Where the content patterns came from</a>
            </li>
          </ul>

          <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this guide:</h2>
          <ul class="section-contents">
            <li>
              <a href="../Bulletins-collections-articles">Bulletins, collections and articles</a>
            </li>
            <li>
              <a href="../headings">Headings</a>
            </li>
            <li>
              <a href="../analysis">Analysis</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Content -->

    <div class="col col--md-two-thirds col--lg-two-thirds">
      <h1 id="section-1">Introducing Bulletin Content Patterns</h1>
      <h2 id="What these patterns are">What these patterns are</h2>
      <p>These patterns explain:</p>
      <ul>
        <li>how we write about things, for example writing commentary about statistics</li>
        <li>how and when we use design patterns, for example expandable text boxes</li>
        <li>the language and style we use, for example tone, bullet lists, tables</li>
      </ul>
      <p>The patterns are in development. We are adding to them as we research and test. Some of them will change.</p>

      <h2 id="Where the content patterns came from">Where the content patterns came from</h2>

      <p>
      The patterns have evolved from:
      </p><ul>

      <li>user research to understand what people want from our content
      <li>user needs based on research
      <li>analytics, and search terms on the ONS website
      <li>content iteration based on feedback from user research, content reviews, and peer reviews within the team</li></ul>

      <p>
      They are the product of working together as a multidisciplinary team that includes content designers, researchers, designers and developers.
      </p>
      <h2></h2>



            {% include accordian.html %}
            {% include headline.html %}
            <h2 id="alerts">Alerts</h2>
            {% include alerts/standard-alert.html %}
            <br>
            {% include alerts/info-alert.html %}
            {% include alerts/warning-text.html %}
            {% include alerts/latest-not-latest.html %}
            {% include back-to-top.html %}
            <h2 id="breadcrumbs">Breadcrumbs</h2>
            {% include breadcrumbs.html %}
            {% include back-to-top.html %}
            <h2 id="charts">Charts</h2>
            {% include chart.html %}
            {% include back-to-top.html %}
            <h2 id="get-all-data">Get all data</h2>
            {% include get-all-data.html %}
            {% include back-to-top.html %}
            <h2 id="headings">Headings</h2>
            {% include headings.html %}
            {% include back-to-top.html %}
            <h2 id="inset-text">Inset text</h2>
            {% include inset-text.html %}
            {% include back-to-top.html %}
            <h2 id="quote">Quote</h2>
            {% include quote.html %}
            {% include back-to-top.html %}
            <h2 id="related-links">Related links</h2>
            {% include related-links.html %}
            {% include back-to-top.html %}
            <h2 id="related-statistics">Related statistics</h2>
            {% include related-statistics.html %}
            {% include back-to-top.html %}
            <h2 id="small-content-box">Small content box</h2>
            {% include small-content-box.html %}
            {% include back-to-top.html %}
            <h2 id="snapshots">Snapshots</h2>
            {% include snapshot.html %}
            {% include back-to-top.html %}
            <h2>Snapshot 2</h2>
            {% include snapshot2.html %}
            {% include back-to-top.html %}
            <h2 id="tables">Tables</h2>
            {% include tables/example-01.html %}
            {% include back-to-top.html %}
            <h2 id="toggle-content">Toggle content</h2>
            {% include toggle-content.html %}
            {% include back-to-top.html %}
            <h2 id="warning-text">Warning text</h2>
            {% include warning-text.html %}
            {% include back-to-top.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
