<div class="js-show-hide">
<div class="show-hide show-hide--light background--gallery margin-bottom--2">
    <div class="js-show-hide__title ">
      <p class="heading-small padding-left--2 margin-top--1 margin-bottom--1">
        What do you need to know about these numbers?</p>
    </div>
    <div class="js-show-hide__content padding-left--2 padding-right--2 padding-top--4 border-top--iron" style="overflow: auto;">
      <p>Morbi efficitur nibh vitae quam ullamcorper, et dapibus massa suscipit. Sed aliquam elit at mi pulvinar, et imperdiet nunc pulvinar. Vestibulum scelerisque eu sem ac rutrum. Vestibulum convallis metus ipsum, sed mattis lectus lacinia quis. Donec luctus tellus viverra lorem placerat, ac tincidunt purus tristique.</p>
      <p>Fusce ut pulvinar massa. Vestibulum commodo accumsan nulla. Sed vitae efficitur odio. Vestibulum scelerisque, nisi vitae lacinia imperdiet, arcu augue pharetra nunc, id varius justo neque vitae diam.</p>
      </div>
  </div>
</div>
