<div class="">
  <h2 class="heading-medium">Sections</h2>
  <ul class="section-contents">
    <li>
      <a href="#section-1">Breadcrumbs</a>
    </li>
    <li>
      <a href="#section-2">Headings</a>
    </li>
    <li>
      <a href="#section-3">Alerts</a>
    </li>
    <li>
      <a href="#section-4">Tables</a>
    </li>
    <li>
      <a href="#section-5">Accordian</a>
    </li>
    <li>
      <a href="#section-6">Small content box</a>
    </li>
    <li>
      <a href="#section-7">Snapshots</a>
    </li>
    <li>
      <a href="#section-8">Related links</a>
    </li>
    <li>
      <a href="#section-9">Toggle content</a>
    </li>
    <li>
      <a href="#section-10">Get all data</a>
    </li>
  </ul>
</div>
