.border--iron {
  border: 1px solid $iron;
}

.border-left--matisse {
  border-left: 7px solid $matisse;
}

.border-bottom--iron {
  border-bottom: 1px solid $iron;
}

.border-top--iron {
  border-top: 1px solid $iron;
}

.border-none {
  border: none;
}
