.content-box {
  background-color: $gallery;
  overflow: auto;
  padding-right: $spacing-unit*3;
  padding-left: $spacing-unit*3;
  margin-bottom: $spacing-unit*1;

  @media (min-width: 768px){
    padding-right: $spacing-unit*4;
    padding-left: $spacing-unit*4;
    margin-bottom: $spacing-unit*2;
  }
}
