.release-data {
  display: inline-block;
  

  p {
    margin-bottom: $spacing-unit*2;
  }

  .panel {
      background:rgba(255,255,255, 0.1);
      border-left: 5px solid $white;
      padding-left: $spacing-unit*2;
      padding-right: $spacing-unit*2;
  }
}

.latest-release {
  display: inline-block;
  margin-bottom: $spacing-unit*0;
}
