// Reset

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Variables

$spacing-unit: 8px;

// Vertical rhythm

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, svg, %vertical-rhythm {
  margin-bottom: $spacing-unit*2;
  line-height: 1.5;
}

// Headings

.heading-xlarge,
.heading-large,
.heading-medium,
.heading-small,
.heading-xsmall,
.heading-xxsmall,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: $spacing-unit*2;
  font-weight: bold;
}

// Base font size
address,li,p,.btn, summary {
  font-size: 16px;
  margin-bottom: $spacing-unit*4;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

// Lists
ul,ol {
  margin-bottom: $spacing-unit*4;
  padding-left: $spacing-unit*2;
}
li {
  margin: 0;
  padding: 0;
  padding-bottom: $spacing-unit;
}

// Font weights
.font-weight--bold {
  font-weight: bold;
}

.font-weight--normal {
  font-weight: normal;
}

// Links
a {
  text-decoration: underline;
}

.font-xlarge,
.heading-xlarge,
h1 {
  font-size: 32px;
  @media (min-width: 768px) {
    font-size: 38px;
  }
}

.font-large,
.heading-large,
h2 {
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.font-medium,
.heading-medium,
h3 {
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.font-small,
.heading-small,
h4 {
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.font-xsmall,
.heading-xsmall,
h5 {
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.font-xxsmall,
.heading-xxsmall,
h6 {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

// hr

hr {
  border: 0;
  border-bottom: 1px solid $iron;
}

// Section contents for the bulletin design sprint
ul.section-contents {
  list-style: none;
  margin: 0;
  padding: 0;
}

// panel

summary {
  margin-bottom:0;
}

.panel {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}
