---
layout: prototype
warning: false
search: false
primary-nav: false
secondary-nav: false
language-switch: false
footer: false
---

<div class="wrapper prototype">
  <div class="col-wrap" style="margin-bottom: 200px;">

    <div class="col col--md-one-third col--lg-one-third sticky">
      <!-- sticky nav -->
      <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
        <div class="icon-box-small margin-top--3">
          <i class="icon icon-return--dark-small"></i><p><a class="font-xsmall" href="../collection">Return to collection page</a></p>
        </div>
        <div class="">
          <h2 class="heading-xsmall margin-top--4 margin-bottom--1">On this page:</h2>
          <ul class="section-contents">
            <li>
              <a href="#What is a bulletin?">What is a bulletin?</a>
            </li>
            <li>
              <a href="#what-is-a-collection">What is a collection?</a>
            </li>
            <li>
              <a href="#what-is-an-overview-page">What is an overview page?</a>
            </li>
            <li>
              <a href="#what-is-an-article">What is an article?</a>
            </li>
            <li>
              <a href="#how-to-decide-whether-you-need-more-pages">How to decide whether you need more pages?</a>
            </li>
          </ul>

          <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this guide:</h2>
          <ul class="section-contents">
            <li>
              <a href="../Introducing">Introducing Bulletin Content Patterns</a>
            </li>
            <li>
              <a href="../Bulletins-collections-articles">Bulletins, collections and articles</a>
            </li>
            <li>
              <a class="font-weight--bold" href="../headings">Headings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Content -->

    <div class="col col--md-two-thirds col--lg-two-thirds">
      <h1 id="Headings">Headings</h1>
      
      <h2 id="What is a bulletin?">What is a bulletin?</h2>
      <p>
      A bulletin gives headline numbers and commentary, alongside essential quality and methodology information.</p>
      <p>
      It should be released with new data, and clearly link to more detailed content for users who want more than an overview.</p>

      <table>
          <tr>
           <td><strong>A bulletin should give users</strong></td>
           <td><strong>A bulletin should not contain</strong>
           </td>
          </tr>
          <tr>
           <td>An overview of the main findings, and first commentary on newly released data
           </td>
           <td>Long-form In-depth commentary
           </td>
          </tr>
          <tr>
           <td>Links to the new data, and to specific parts of the data which might be useful
           </td>
           <td>Deep technical analysis
           </td>
          </tr>
          <tr>
           <td>A summary of the most important quality and methodology information, linking to more detailed documents where necessary
           </td>
           <td>Detailed explanations of upcoming changes, roadmaps, or transformation plans
           </td>
          </tr>
        </table>
      <br>
      <p>Where there's a clear user need for long, technical content, consider writing an "article". Bulletins can link to articles. Articles can be released at the same time as a bulletin
      </p>
      <p>
      Bulletins should focus on topics that we know users are interested in. If we know users are interested in a number of topics in a release, we can publish more than one bulletin in a "collection".
      </p>

      <h2 id="collections">Collections</h2>

          <h3 id="what-is-a-collection">What is a collection?</h3>
              <p>
              A collection always contains the following things:
              </p><ul>

              <li>A <strong>dataset</strong>
              <li>A <strong>summary (bulletin)</strong> page, explaining the most important things about the new version of the dataset</li></ul>

              <p>
              Where there's a clear user need for more detail on a specific topic (gender pay gap, for example), a collection can contain additional summary pages.
              </p>
              <p>
              An<strong> overview</strong> page contains commentary on the top-level findings from a collection.
              </p>
              <p>
              Where more in-depth analysis is required, <strong>articles</strong> can be added to a collection.
              </p>
          <h3 id="what-is-an-overview-page">What is an overview page?</h3>
              <p>
              <em>User research found that users like the term overview for this type of page. As "Overview" and "Summary" can be used interchangeably, we're doing more research to find out whether this could be confusing.<br>
              </em>
              </p>
              <p>
              Where a collection contains more than one summary (bulletin), an overview page summarises the most important information from across all the summary pages.
              </p>
              <p>
              For example, the <strong>Crime collection</strong> may include summaries on Weapons, Fraud, and Homicide.
              </p>
              <p>
              The <strong>Crime overview</strong> would give commentary on what has happened to overall Crime trends in the latest data, and might very briefly explain the main contributors to this change (linking to the summary pages for more detail).
              </p>
          <h3 id="what-is-an-article">What is an article?</h3>
              <p>
              <em>We are running more research to understand whether the word "article" means anything to users in this context.</em>
              </p>
              <p>
              An article is less structured than a summary, and allows for more detailed information on a subject. Typical articles might include:
              </p><ul>

              <li>Deeper analysis of a topic which cannot fit in the summary template
              <li>Analysis of the latest data alongside other data sources
              <li>More information about methodology or planned changes to a collection</li></ul>
              <p>
              As with any content on our website, there should be a clear user need for everything we publish. The length and detail of an article should be relative to the interest of our users. We will measure this using analytics and through user research.
              </p>
              <p>
              An article should only be used when it is not possible to communicate all of the information users need in a summary page (because of the number of words required, or because the analysis crosses multiple summaries or collections, for example).
              </p>
      <h2 id="how-to-decide-whether-you-need-more-pages">How to decide whether you need more pages?</h2>
              <p>
              Digital publishing will help you determine whether more pages would add value. We will use search data and user research to understand what users need. We may run extra research, or suggest small-scale experiments we can run to validate the need for a new page.
              </p>
              <p>
              We will also consider:
              </p><ul>

              <li>whether users might expect to find information about this topic anywhere else (on another page in this collection, or on the ONS website, for example)
              <li>what the time and effort required to create extra pages is, relative to user need
              <li>can we communicate this using anything that already exists
              <li>does it need to be published on the day of release
              <li>whether this content is best written as an article or a bulletin (summary)</li></ul>

              <p>
              Once the page has been published, we will continually monitor its use to understand whether there is a continuing user need for this content.
              </p>
      {% include accordian.html %}
      {% include headline.html %}
      <h2 id="alerts">Alerts</h2>
      {% include alerts/standard-alert.html %}
      <br>
      {% include alerts/info-alert.html %}
      {% include alerts/warning-text.html %}
      {% include alerts/latest-not-latest.html %}
      {% include back-to-top.html %}
      <h2 id="breadcrumbs">Breadcrumbs</h2>
      {% include breadcrumbs.html %}
      {% include back-to-top.html %}
      <h2 id="charts">Charts</h2>
      {% include chart.html %}
      {% include back-to-top.html %}
      <h2 id="get-all-data">Get all data</h2>
      {% include get-all-data.html %}
      {% include back-to-top.html %}
      <h2 id="headings">Headings</h2>
      {% include headings.html %}
      {% include back-to-top.html %}
      <h2 id="inset-text">Inset text</h2>
      {% include inset-text.html %}
      {% include back-to-top.html %}
      <h2 id="quote">Quote</h2>
      {% include quote.html %}
      {% include back-to-top.html %}
      <h2 id="related-links">Related links</h2>
      {% include related-links.html %}
      {% include back-to-top.html %}
      <h2 id="related-statistics">Related statistics</h2>
      {% include related-statistics.html %}
      {% include back-to-top.html %}
      <h2 id="small-content-box">Small content box</h2>
      {% include small-content-box.html %}
      {% include back-to-top.html %}
      <h2 id="snapshots">Snapshots</h2>
      {% include snapshot.html %}
      {% include back-to-top.html %}
      <h2>Snapshot 2</h2>
      {% include snapshot2.html %}
      {% include back-to-top.html %}
      <h2 id="tables">Tables</h2>
      {% include tables/example-01.html %}
      {% include back-to-top.html %}
      <h2 id="toggle-content">Toggle content</h2>
      {% include toggle-content.html %}
      {% include back-to-top.html %}
      <h2 id="warning-text">Warning text</h2>
      {% include warning-text.html %}
      {% include back-to-top.html %}
    </div>
  </div>
</div>
